---
import Button from "../components/Button.astro";
import Section from "./Section.astro";

const sentences = {
  a: `Hello! My name is Natalia and I'm a web developer living in Porto Alegre, Brazil. I have a passion for all things tech and I'm constantly seeking to improve my skills.`,
  b: `I take pride in delivering the best results possible and am a perfectionist when it comes to my work. I am a team player and my problem-solving skills allow me to work well with others. I have worked on a variety of web development projects, as you can see here on my website.`,
  c: `When I'm not working or studying, I enjoy exploring new technologies and finding new ways to challenge myself. I believe in having a growth mindset and am always looking for ways to learn and improve.`,
  d: `Thank you for taking the time to get to know me better. I look forward to the opportunity of talking to you soon!`,
};
---

<Section id="about" title="About Me">
  <img src="assets/girl.svg" alt="Girl image" id="girl" class="w-3/6 mx-auto" />
  <!-- <ul class="text-left p-2 m-4">
    <li>{sentences.a}</li>
    <li>{sentences.b}</li>
    <li>{sentences.c}</li>
  </ul> -->
  <p class="text-base text-justify p-4">{sentences.a}</p>
  <p class="text-base text-justify p-4">{sentences.b}</p>
  <p class="text-base text-justify p-4">{sentences.c}</p>
  <p class="text-base text-justify p-4">{sentences.d}</p>

  <Button url="cv.pdf" text="Resume" id="cv" />
</Section>

<style>
  /* custom bullet point */

  /* ul {
    list-style: none;
  }

  li {
    padding: 5px 0;
    padding-left: 1em;
    `text-indent: -1em;
  }

  li:before {
    content: "◆";
    padding-right: 5px;
  } */

  /* end */
</style>
