---
const { id, url, text, type } = Astro.props;
---

<button class="btn border" id={id}>
  <a class={id} href={url} target="_blank" type={type}>
    {text}
  </a>
</button>

<script>
  document.querySelector(".contact").removeAttribute("target");
  document.querySelector(".contact").removeAttribute("target");
</script>

<style>
  #cv,
  #contact {
    background-color: var(--peach);
    font-size: 22px;
  }

  #copy_btn {
    background-color: var(--light-purple);
    max-width: 100px;
  }
</style>
