---
const { id, url, type, listOfClasses, text } = Astro.props;
---

<button class="btn border font-bold w-2/6" id={id}>
  <a class:list={listOfClasses} href={url} target="_blank" type={type}>
    {text}
  </a>
</button>

<script>
  document.querySelector(".contact").removeAttribute("target");
  document.querySelector(".contact").removeAttribute("target");
  document.querySelector(".about-section").removeAttribute("target");
  document.querySelector(".about-section").removeAttribute("target");
  document.querySelector(".project-section").removeAttribute("target");
  document.querySelector(".project-section").removeAttribute("target");
</script>

<style>
  #nav-bar {
    width: 90%;
    background-color: var(--accent_four);
  }

  #copy_btn,
  #cv {
    background-color: var(--accent_three);
  }

  #copy_btn {
    width: 25%;
  }
</style>
