---
const { projectName } = Astro.props;

const projects = {
  gameOfLife: {
    title: "Game of Life",
    description: "JavaScript, p5.js",
    demo: "gameoflife",
    github: "https://github.com/ntlchs/game-of-life",
  },
  pongGame: {
    title: "Pong",
    description: "JavaScript, p5.js",
    demo: "pong",
    github: "https://github.com/ntlchs/pong",
  },
  googleClone: {
    title: "Google Clone",
    description: "HTML, CSS",
    demo: "googleclone",
    github: "https://github.com/ntlchs/google-clone",
  },
  silviasDesign: {
    title: "Silvia's Design",
    description: "Astro framework",
    demo: "https://silviasdesign.com",
    github: "https://github.com/ntlchs/silviasDesign",
  },
  ticTacToe: {
    title: "Tic-Tac-Toe",
    description: "React",
    demo: "/tic_tac_toe/index.html",
    github: "https://github.com/ntlchs/tictactoe",
  },
};

const projectInfo = projects[projectName];
---

<div id={projectName} class="card border">
  <div class="cardOverlay"></div>
  <div class="cardInfo border accentBg">
    <h2>{projectInfo.title}</h2>
    <h3>{projectInfo.description}</h3>
    <div class="links">
      <a href={projectInfo.demo} target="_blank">link</a>
      <span>l</span>
      <a href={projectInfo.github} target="_blank">Github</a>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

  .card {
    position: relative;
    box-shadow: 5px 5px var(--black);
    width: 95%;
    border-radius: 0.1rem;
    min-height: 15em;
    margin: 3% 0;
  }

  .cardOverlay {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .cardOverlay.overlay {
    mix-blend-mode: overlay;
  }

  .cardInfo {
    position: absolute;
    bottom: 1rem;
    width: 50%;
    margin: 0 25%;
    color: var(--black);
    background-color: var(--accent_two);
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
  }

  #gameOfLife {
    background-image: url("/assets/projects/gol.png");
    background-size: cover;
  }

  #pongGame {
    background: #f0f0f0 url("/assets/projects/pong.png") center no-repeat;
    background-size: contain;
  }

  #googleClone {
    background: url("/assets/projects/google_clone.png") center no-repeat;
    background-size: cover;
  }

  #silviasDesign {
    background: url("/assets/projects/silvias_design.png") center no-repeat;
    background-size: 100%;
  }

  #ticTacToe {
    background: url("/assets/projects/tic_tac_toe.png") center no-repeat;
    background-size: 100%;
  }

  .cardInfo h2,
  .cardInfo h3,
  .links a {
    padding: 0;
    margin: 0;
    font-size: 18px;
  }
</style>
