---
const { projectName } = Astro.props;

const projects = {
  gameOfLife: {
    title: "Game of Life",
    img: "assets/game_of_life.png",
    description: "JavaScript, p5.js",
    demo: "demos/gameOfLife/gameOfLife.js",
    github: "",
  },
  pongGame: {
    title: "Pong",
    img: "assets/pong.png",
    description: "JavaScript, p5.js",
    demo: "demos/",
    github: "",
  },
  googleClone: {
    title: "Google Clone",
    img: "assets/google_clone.png",
    description: "HTML, CSS",
    demo: "demos/",
    github: "https://github.com/ntlchs/google-clone",
  },
  rlStats: {
    title: "RLStats to CSV",
    img: "",
    description: "Python",
    demo: "demos/",
    github: "",
  },
  silviasDesign: {
    title: "Silvia's Design",
    img: "assets/silvias_design.png",
    description: "Astro framework",
    demo: "https://silviasdesign.com",
    github: "",
  },
};

const projectInfo = projects[projectName];
---

<div id={projectName} class="card">
  <img src={projectInfo.img} alt={projectName} class="project_img" />
  <div class="cardText">
    <h1>{projectInfo.title}</h1>
    <h2>{projectInfo.description}</h2>
    <div class="links">
      <a href={projectInfo.demo}>See demo</a>
      <a href={projectInfo.github}>Github repo</a>
    </div>
  </div>
</div>
