---
const { projectName } = Astro.props;

const projects = {
  gameOfLife: {
    title: "Game of Life",
    description: "JavaScript, p5.js",
    demo: "demos/rlStats",
    github: "",
  },
  pongGame: {
    title: "Pong",
    description: "JavaScript, p5.js",
    demo: "demos/rlStats",
    github: "",
  },
  googleClone: {
    title: "Google Clone",
    description: "HTML, CSS",
    demo: "demos/rlStats",
    github: "",
  },
  rlStats: {
    title: "RLStats to CSV",
    description: "Python",
    demo: "demos/rlStats",
    github: "",
  },
};

const projectInfo = projects[projectName];
console.log(projectInfo);
---

<div id={projectName}>
  <h1>{projectInfo.title}</h1>
  <h2>{projectInfo.description}</h2>
  <div id="links">
    <a href={projectInfo.demo}>See demo</a>
    <a href={projectInfo.github}>Github repo</a>
  </div>
</div>
