---
const { projectName } = Astro.props;

const projects = {
  gameOfLife: {
    title: "Game of Life",
    description: "JavaScript, p5.js",
    demo: "gameoflife",
    github: "https://github.com/ntlchs/game-of-life",
  },
  pongGame: {
    title: "Pong",
    description: "JavaScript, p5.js",
    demo: "pong",
    github: "https://github.com/ntlchs/pong",
  },
  googleClone: {
    title: "Google Clone",
    description: "HTML, CSS",
    demo: "googleclone",
    github: "https://github.com/ntlchs/google-clone",
  },
  silviasDesign: {
    title: "Silvia's Design",
    description: "Astro framework",
    demo: "https://silviasdesign.com",
    github: "https://github.com/ntlchs/silviasDesign",
  },
  ticTacToe: {
    title: "Tic-Tac-Toe",
    description: "React",
    demo: "/tic_tac_toe/index.html",
    github: "https://github.com/ntlchs/tictactoe",
  },
};

const projectInfo = projects[projectName];
---

<div
  id={projectName}
  class="card relative border-black border my-2 inline-block gap-0 mx-4 w-9/12 snap-mandatory"
>
  <div class="cardOverlay absolute top-0 w-full h-full"></div>
  <div class="cardInfo border absolute w-8/12 hover:scale-105">
    <h2 class="text-lg">{projectInfo.title}</h2>
    <h2 class="">{projectInfo.description}</h2>
    <div class="links">
      <a
        href={projectInfo.demo}
        target="_blank"
        class="p-0 m-0 text-base font-bold underline">link</a
      >
      <span>|</span>
      <a
        href={projectInfo.github}
        target="_blank"
        class="p-0 m-0 text-base font-bold underline">Github</a
      >
    </div>
  </div>
</div>

<style>
  .cardInfo,
  .card {
    box-shadow: 5px 5px var(--black);
  }

  .cardInfo {
    bottom: 1rem;
    left: 50%;
    translate: -50% 0;
    background-color: var(--accent_four);
  }

  .card {
    scroll-snap-type: block;
    min-height: 320px;
  }

  /* overlay */

  .cardOverlay {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .cardOverlay.overlay {
    mix-blend-mode: overlay;
  }

  /* end */

  /* backgrounds */

  #gameOfLife {
    background-image: url("/assets/projects/gol.png");
    background-size: cover;
  }

  #pongGame {
    background: #f0f0f0 url("/assets/projects/pong.png") center no-repeat;
    background-size: contain;
  }

  #googleClone {
    background: url("/assets/projects/google_clone.png") center no-repeat;
    background-size: cover;
  }

  #silviasDesign {
    background: url("/assets/projects/silvias_design.png") center no-repeat;
    background-size: 100%;
  }

  #ticTacToe {
    background: url("/assets/projects/tic_tac_toe.png") center no-repeat;
    background-size: 100%;
  }

  /* end */
</style>
